body {
  font-family: georgia;
  background-color: #C8D9E6;
  margin: 20px;
  padding: 0;
  text-align: left
}


h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2F4156;
  justify-content: center;
  display: flex;
}

ul li a {
  display: block;
  color: #F5EFEB;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color:  #DBA1A2;
}

h1 {
  color: #DBA1A2;
}

h3 {
  color: #567C8D;
}
h5 {
  color: #567C8D;
}

p {
  line-height: 1.6;
  color: #DBA1A2;
}

iframe {
  display: block;
  margin: 20px auto;
}

.profile {
  width: 200px;
  display: block;
  margin-bottom: 20px;
}

img {
  width: 250px;
  margin: 10px;
  border-radius: 15px;
  float: middle;
  }
